# Xcode
## User settings
xcuserdata/
*.xcuserstate
project.xcworkspace/xcuserdata/
project.xcworkspace/xcshareddata/xcuserdata/
*.xcuserdatad

## Build generated
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

## App packaging & Archives
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

## Swift Package Manager
.build/

## macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
